---
layout: splash
classes:
  - landing
author_profile: false
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: assets/images/aspe_bkg.png
excerpt: "Join us for the ASPE Student Challenge, to be held next at the 2024 Annual Meeting of the American Societ of Precision Engineering in Houston, TX."
intro: 
  - excerpt: 'Nullam suscipit et nam, tellus velit pellentesque at malesuada, enim eaque. Quis nulla, netus tempor in diam gravida tincidunt, *proin faucibus* voluptate felis id sollicitudin.'
feature_row:
  - image_path: assets/images/aspe_splash.png
---
{% include feature_row id="intro" type="center" %}

{% include feature_row type="center" %}
